<main class="contenedor panel-administracion">
  <div class="container">
    <h1><%- nombrePagina %></h1>
    <a href="/nuevo-grupo" >
      <button class="button is-success">Nuevo Grupo</button>
    </a>
    <br>
    <a href="/nuevo-grupo" >
      <button class="button is-primary">Nuevo Post</button>
    </a>
  </div>
</main>
