<main>
    <h1>Eliminacion del Post</h1>
    <form method="POST">
        <legend>¿Deseas <%- nombrePagina %> ?</legend>
        <p>Al eliminar el Post no se podra <b>RECUPERAR</b></p>
        <div>            
            <button class="button is-danger">Eliminar Post</button>
        </div>
        </form>

</main>