<main>
    <div class="contenedor-eliminar">

        <form method="POST">
            <h1>Eliminar Publicación</h1>

            <legend>¿Deseas Eliminar  <%- nombrePagina %> ?</legend>
            <p>Al eliminar la Publicación no se podrá <b>RECUPERAR</b></p>
            <br>
            <div>
                <button class="button is-danger">Eliminar Publicacion</button>
            </div>
        </form>
    </div>
</main>
