<main>
    <div class="eliminar-container">

        <form class="eliminar-form" method="POST">
            <h1 class="eliminar-title">Eliminar Publicación</h1>

            <legend class="eliminar-legend">¿Deseas <span class="nombre-pagina"><%- nombrePagina %></span>?</legend>
            <p class="eliminar-text">Al eliminar la categoria no se podrá <b>RECUPERAR</b></p>
            <br>
            <div>
                <button class="eliminar-button">Eliminar Publicación</button>
            </div>
        </form>
    </div>
</main>
<style>













.eliminar-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eliminar-form {
    max-width: 400px;
    margin: 0 auto;
}

.eliminar-title {
    color: #333;
    font-size: 2em;
}

.eliminar-legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.eliminar-text {
    color: #888;
}

.eliminar-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

</style>