
<div class="container-inicio">
    <div class="contenedor">
        <h1 class="titulos">Buscar Publicaciones</h1>
        <form action="/busqueda" method="GET">

            <input type="text" name="titulo" placeholder="Titulo de la Publicacion">

            <input type="submit" value="Buscar" class="btn-buscador">
        </form>
    </div>
</div>
<div class="contenedor">
    <h2 class="titulos">Publicaciones</h2>
    <div class="tarjeta-public">
        <% publicaciones.forEach(publicaciones => { %>
        <div class="tarjeta-public">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="/uploads/publicaciones/<%= publicaciones.imagen %>" width="60" /></figure>
            </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                    <h4><b>Titulo: <%= publicaciones.titulo %></b></h4>                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <% moment.locale('es') %>
                <p class="fecha">Fecha Creación: <%= moment(publicaciones.fecha).format('LL');  %></p>              </div>
                <a href="/ver-publicacion/" class="btn-inicio-sesion">
                    Ver Publicación
                </a>
            </div>

          </div>
          <% }) %>
    </div>
</div>


