
<div class="container-inicio">
    <div class="contenedor">
        <h1 class="titulos">Buscar Publicaciones</h1>
        <form action="/busqueda" method="GET">

            <input type="text" name="titulo" placeholder="Titulo de la Publicacion">

            <input type="submit" value="Buscar" class="btn-buscador">
        </form>
    </div>
</div>
<div class="card-categorias">
    <h1 class="titulo">Categorias</h1>
<div id="contenedor-categoria">
    <a href="/enero" class="tarjeta-categoria categoria-letra enero card-categorias">Enero</a>
    <a href="/febrero" class="tarjeta-categoria categoria-letra febrero">Febrero</a>
    <a href="/marzo" class="tarjeta-categoria categoria-letra marzo">Marzo</a>
    <a href="/abril" class="tarjeta-categoria categoria-letra abril">Abril</a>
    <a href="/mayo" class="tarjeta-categoria categoria-letra mayo">Mayo</a>
    <a href="/junio" class="tarjeta-categoria categoria-letra junio">Junio</a>
    <a href="/julio" class="tarjeta-categoria categoria-letra julio">Julio</a>
    <a href="/agosto" class="tarjeta-categoria categoria-letra agosto">Agosto</a>
    <a href="/septiembre" class="tarjeta-categoria categoria-letra septiembre">Septiembre</a>
    <a href="/octubre" class="tarjeta-categoria categoria-letra octubre">Octubre</a>
    <a href="/noviembre" class="tarjeta-categoria categoria-letra noviembre">Noviembre</a>
    <a href="/diciembre" class="tarjeta-categoria categoria-letra diciembre">Diciembre</a>
  </div>
</div>  
  <div class="publicaciones-container">
    <h2 class="titulo">Publicaciones</h2>
    <div class="publicaciones-grid">
        <% publicaciones.forEach(publicacion => { %>

        <div class="publicacion-card">
            <div class="imagen">
                <figure>
                    <img src="/uploads/publicaciones/<%= publicacion.imagen %>" alt="Imagen de la publicación" />
                </figure>
            </div>
            <div class="contenido">
                <div class="media">
                    <div class="media-contenido">
                        <h4><b>Título: <%= publicacion.titulo %></b></h4>
                    </div>
                </div>
                <div class="descripcion">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a href="https://www.instagram.com/laisla_opina/">@IslaDeMaipo</a>.
                    <a href="http://www.islademaipo.cl/">#islademaipo</a> 
                </div>
                <% moment.locale('es') %>
                <p class="fecha">Fecha Evento: <%= moment(publicacion.fecha).format('LL');  %></p>
                <a href="/ver-publicacion/<%= publicacion.slug %>" class="ver-publicacion-btn">
                    Ver Publicación
                </a>
            </div>
        </div>
        <% }) %>
    </div>
</div>

</div>
</div>


