<main class="contenedor contenedor-formulario">
    <h1> <%- nombrePagina %>  </h1>
    <form action="/registrar" method="POST" class="default-form">
        <div class="campo">
            <label for=""> Correo </label>
            <input type="email" name="correo" placeholder="Correo Electronico">
        </div>
        <div class="campo">
            <label> Contraseña </label>
            <input type="password" name="Contraseña" placeholder="Contraseña">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="registrar">
        </div>
    </form>
</main>