.card-fondo {
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452); 
  margin: 20px;
  background-color: #fff;
}
.card-header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
}
.card-footer {
  background-color: #3498db;
  color: #fff;
  padding: 30px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}


.texto-imagen-contenedor {
  width: 880px;
  height: 710px;
  overflow: hidden;
  margin-right: 20px; 
  margin-left: 20px; 
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 25px; 

}


.fecha-evento {
  text-align: left;
}

.titulo-evento {
  margin: 0; 
  text-align: left; 
}

.direccion-evento {
  text-align: right;
}

.direccion-titulo {
  text-align: right;
  margin-top: -20px;  
}
.direcciontext {
  margin: 0;
  text-align: right;
}
.button-asis {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.img-public {
  float: left;
  width: 502px;
  height: 402px;
  margin-right: 20px; 
  margin-left: 20px; 
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 120px; 
}

.card-body img {
  max-width: 50%;
  height: auto;
}

.texto-imagen {
  margin-top: auto; 
}

